
		body
		{
			background-color: rgb(54, 54, 54);
			font-family: 'Roboto', sans-serif;
			min-height: 400px;
   			margin-bottom: 50px;
   			clear: both;
		}

		header
		{
			color: white;
			background-color: rgb(81, 81, 89);
			border-bottom: solid 1px rgb(0, 150, 136);
			padding-bottom: 5px;

			width: 100%;
        	position: fixed;
        	padding: 0px 0;
        	top: 0;
		}

		.logo
		{
			padding-right: 1px;
			float: left;
			font-size: 25px;
		}

		.edu
		{
			color: rgb(0, 150, 136);
		}

		.navBar
		{
			padding-left: 40px;
			font-size: 25px;
		}

		.navBar:hover
		{
			color: rgb(0, 193, 175);
		}

		a
		{
			color: white;
			text-decoration: none!important;
		}

		a:link
		{
		    text-decoration: none!important;
		}

		a:visited
		{
			color: white;
			text-decoration: none!important;
		}

		h2
		{
			color: white;
			font-size: 50px;
			text-align: center;
		}

		.home
		{
			border: solid 1px rgb(0, 150, 136);
			text-align: justify;
			padding-left: 120px;
		}

		.more
		{
			border: solid 1px rgb(0, 150, 136);
			text-align: justify;
			padding-left: 120px;
		}

		.more2
		{
			border: solid 1px rgb(0, 150, 136);
			text-align: justify;
			padding-right: 120px;
		}

		td
		{
			color: white;
			font-size: 20px;
		}

		input[type=submit]
		{
			background-color: rgb(0, 150, 136);
			border: none;
			color: white;
			padding: 16px 32px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
			font-size: 20px;
		}

		input[type=submit]:hover
		{
			background-color: rgb(0, 193, 175);
			color: black;
		}

		.stats
		{
			margin-left: auto;
  			margin-right: auto;
		}

		.descriptions
		{
			color: white;
			text-align: center;
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 90px;
			padding-bottom: 25px;
			font-size: 15px;
		}

		.numbers
		{
			color: rgb(0, 150, 136);
			text-align: center;
			font-size: 35px;
		}

		#statTalk
		{
			color: white;
			text-align: center;
			padding-left: 450px;
			padding-right: 450px;
		}

		footer
		{
			color: white;
			background-color: rgb(81, 81, 89);
			border-top: solid 1px rgb(0, 150, 136);
			padding-bottom: 5px;
			text-align: center;
			padding: 5px;
			font-size: 10px;

			width: 100%;
			position: fixed;
			padding: 0px 0;
			bottom: 0;
		}

		.foot
		{
			margin-left: auto;
  			margin-right: auto;
		}

		.forFoot
		{
			font-size: 15px;
			padding: 25px;
		}