{% load static %}

<header>
	<a href="../../../"><img src="{% static '_EduWatch_logo_light.svg' %}" height="50px" width="50px" class="logo"></a>
	<a href="../../../"><h1 class="logo"><span class="edu">Edu</span>Watch</h1></a>
	<nav>
		<br>
		<a class="navBar" href="../../../" style="text-decoration: none">Home</a>
		<a class="navBar" href="../../../about" style="text-decoration: none">About</a>
		<a class="navBar" href="../../../dashboard" style="text-decoration: none">Data</a>
	</nav>
</header>