{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
	<br><br><br>
	<div class="more">
			<table>
				<tbody>
					<tr>
						<td>
							<h2>Welcome to <span class="edu">Edu</span>Watch</h2>
						</td>
						<td rowspan="2"><img src="{% static 'students2.png' %}" height="550px" width="905px"></td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center">
								EduWatch was created with the vision of compiling information on the nation's top schools
								into one convenient place. We felt it important to create a place for prospective and current students
								to view information relevant to their college career in a way that is both easily digestible and highly specific.
								To this end, we provide many viewing formats for our data.
							</p>
							<p style="text-align:center;font-size:40px">
								<em>Want to see for youself?</em>
							</p>
							<form action="" style="text-align: center;">
    							<input type="submit" value="View The Data" />
							</form>
							<br><br><br>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="more2">
			<table>
				<tbody>
					<tr>
						<td rowspan="2"><img src="{% static 'learning.png' %}" height="550px" width="905px"></td>
						<td>
							<h2>Welcome to <span class="edu">Edu</span>Watch</h2>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center">
								Our goal is to provide you with the data
								you need to make an informed choice with your education. Important college statistics are spread out
								over the internet, but here at EduWatch we have compiled the most important data from the Office of Planning, Evaluation,
								and Policy Development (OPEPD) and made it as easy to understand as possible.
							</p>
							<p style="text-align:center;font-size:40px">
								<em>Want to find out more?</em>
							</p>
							<form action="" style="text-align: center;">
    							<input type="submit" value="View The Data" />
							</form>
							<br><br><br>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>
{% endblock %}