{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
	<br><br><br>
	<div class="more">
			<table>
				<tbody>
					<tr>
						<td>
							<h2>Welcome to <span class="edu">Edu</span>Watch</h2>
						</td>
						<td rowspan="2"><img src="{% static 'students2.png' %}" height="600px" width="905px"></td>
					</tr>
					<tr>
						<td>
							EduWatch is a dashboard dedicated to providing students with data that may be
							relevant to them throughout their college career. Using
							<a href=https://data.ed.gov/dataset/college-scorecard-all-data-files-through-6-2020>data</a>
							provided by the Office of Planning, Evaluation and Policy Development (OPEPD), EduWatch allows you to access
							statistics such as admission rates, graduations rates, and even net tuition cost per year. Browse the data
							to see where you might fall compared to other students!
							<br><br><br>
							<form action="" style="text-align: center;">
    							<input type="submit" value="See The Data" />
							</form>
							<br><br><br>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="more2">
			<table>
				<tbody>
					<tr>
						<td rowspan="2"><img src="{% static 'learning.png' %}" height="600px" width="905px"></td>
						<td>
							<h2>Welcome to <span class="edu">Edu</span>Watch</h2>
						</td>
					</tr>
					<tr>
						<td>
							EduWatch is a dashboard dedicated to providing students with data that may be
							relevant to them throughout their college career. Using
							<a href=https://data.ed.gov/dataset/college-scorecard-all-data-files-through-6-2020>data</a>
							provided by the Office of Planning, Evaluation and Policy Development (OPEPD), EduWatch allows you to access
							statistics such as admission rates, graduations rates, and even net tuition cost per year. Browse the data
							to see where you might fall compared to other students!
							<br><br><br>
							<form action="" style="text-align: center;">
    							<input type="submit" value="See The Data" />
							</form>
							<br><br><br>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>
{% endblock %}