{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<section id="hero" class="hero">
		<div class="hero-image students1"></div>
		<div class="message-wrapper">
			<div class="message">
				<h2>Welcome to <span class="edu">Edu</span>Watch</h2>
				<p>
					Tired of combing the web for info on your prospective schools? <br>
					Tired of hard to read reports and misleading adverts? <br>
					Want to discover what college is best for you?
				</p>
				<p>
					<em>We have you covered.</em>
				</p>
				<a href="../../dashboard" class="cta-button">View Our Data</a>
			</div>
		</div>
	</section>

	<section id="brief" class="center">
		<div class="stats flex-container">
			<div class="stat flex-row flex-container flex-columns">
				<div class="stat-title flex-row"><h3>Gathered Since</h3></div>
				<div class="stat-value flex-row"><span class="count">1996</span></div>
			</div>
			<div class="stat flex-row flex-container flex-columns">
				<div class="stat-title flex-row"><h3>Number of Colleges Recorded</h3></div>
				<div class="stat-value flex-row"><span class="count">2981</span></div>
			</div>
			<div class="stat flex-row flex-container flex-columns">
				<div class="stat-title flex-row"><h3>Data Points Tracked</h3></div>
				<div class="stat-value flex-row"><span class="count">6695</span></div>
			</div>
		</div>
		
		<p class="constrict-width center">
			The data you can access and browse through within the EduWatch dashboard is a compilation
			of data gathered from college students since 1996. Thanks to how long this data has been in the process
			of being collected, our data set has managed to compile information from across 2981 different colleges.
			Within this time, there has been a reported total of 36.81 million college graduates in this time.
			Our data set also provides information such as how much dept these college students have collected, which is currently
			estimated to be around 1.85 trillion dollars.
		</p>
	</section>
</div>

<!--<script type="application/javascript">-->
<!--	$('.count').each(function () {-->
<!--		$(this).prop('Counter',0).animate({-->
<!--			Counter: $(this).text()-->
<!--		}, {-->
<!--			duration: 2000,-->
<!--			easing: 'swing',-->
<!--			step: function (now) {-->
<!--				$(this).text(Math.ceil(now));-->
<!--			}-->
<!--		});-->
<!--	});-->
<!--</script>-->
{% endblock %}
