<select name="dashnav" id="dashnav">
    <option value="../../boards/tuition" {{tuition}} >Tuition</option>
    <option value="../../boards/acceptance_rate" {{acceptance_rate}} >Acceptance Rates</option>
    <option value="../../boards/gender" {{gender}} >Gender Statistics</option>
    <option value="../../boards/completion_rate" {{completion_rate}} >Completion Rates</option>
</select>

{{mytext}}

<script type="text/javascript">
    $(function(){
        // bind change event to select
        $('#dashnav').on('change', function () {
            var url = $(this).val(); // get selected value
            window.location.href = url; // redirect
            return false;
        });
    });
</script>