<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EduWatch Home</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="/static/eduwatch.css" rel="stylesheet" type="text/css" >
</head>
{% extends '../dashboard.html' %}
{% load static %}

{% block board %}

{% include 'header.html' %}
<h2>admissions</h2>
{% include 'footer.html' %}


{% endblock %}